header {
  align-items: center;
  background-color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 1rem;

  img {
    height: 50px;
    width: auto;
  }

  i {
    color: $white;
    font-size: xx-large;
  }

  a {
    color: $white;
    font-size: larger;
    padding: 8px 0;
  }
}

@include desktop-lg {
  header {
    flex-direction: row;
  }
}