$blue: #0139A6;
$green: #43A047;
$white: #ecebf5;
$yellow: #F9C80E;

// Colores para la tabla
$color-borde: #ddd;
$color-fila-alterna: #f2f2f2;
$color-fondo-cabecera: #6baed6;
$color-fuente-cabecera: #fff;
$color-fuente: #333;
$color-hover: #ddd;
