<div class='action_bar'>
  <div>
    <%= link_to new_bright_event_path , class: 'btn btn-warning' do %>
      <i class="uil uil-plus"></i>
      <span>Agregar evento</span>
    <% end %>
  </div>
  <%= render 'filters' %>
</div>
