<div class="form-wrap">
  <%= link_to user_bright_events_path, class: 'btn btn-return' do %>
    <i class="uil uil-arrow-left"></i>
  <% end %>  
  <div class="form-container">
    <h1>Crear Evento</h1>
    <%= render 'form' %>
  </div>
</div>
