.btn {
  background-color: $blue;
  border-radius: 5px;
  color: $white;
  padding: 20px 10px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
  
  &:hover {
    background-color: darken($blue, 10%);
  }
}

.btn-warning {
  background-color: $yellow;
  color: $black;
  
  &:hover {
    background-color: darken($yellow, 10%);
  }
}

.btn-return {
  background-color: $gray;
  color: $black;
  
  &:hover {
    background-color: darken($gray, 10%);
  }
}

@include desktop-lg {
  .btn-return {
    width: fit-content;
  }
}
