<header>
  <div class="logo">
    <%= link_to root_path do %>
      <%= image_tag('defaults/logo.webp') %>
    <% end %>
  </div>
  <i class="uil uil-bars"></i>
  <%= link_to 'Inicia Sesion', user_session_path %>
</header>
